# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/
*.so
.env
db.sqlite3
backend/media/
backend/staticfiles/

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.log
.cache/
